# Dependencies
node_modules
/*/node_modules
/b/target
.anchor
.yarn
.pnp.*

# Build outputs



/f/.next
/f/out
/f/build
/b/test-ledger

/b/.env*
/fm/.env*
/r/.env*

/r/target
/r/node_modules
# Environment
.env*

# IDE and OS
.DS_Store
.idea
.vscode
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Rust
**/*.rs.bk

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# gh-pages
.gh-pages-cache
node_modules/.cache/gh-pages/

