@import '../styles/walletAdapterOverrides.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  background: black;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.75rem, 1vw, 1rem);
  line-height: 1.2;
}

button, input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.75rem, 1vw, 1rem);
  line-height: 1.2;
  height: clamp(2rem, 5vh, 3rem);
}

button {
  padding: 0 1rem;
  background-color: #767999 !important;
  color: white !important;
  border: 2px outset #8b8fb3 !important;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #8b8fb3 !important;
  border: 2px outset #9ea3c7 !important;
}

button:disabled {
  background-color: #5a5c73 !important;
  cursor: not-allowed;
  border: 2px inset #8b8fb3 !important;
} 